*{
    margin: 0;
    padding: 0;
}


/*
body{
    background-color:antiquewhite;
    
}
*/

.left{
    width:100%;
    height: 100%;
    float: left;
}
.pdf{
    width: 100%;
    height: 700px;
}

.right{
    float: right;
    width: 300px;
    
}
#sidebar{
    position: fixed;
    width: 20%;
    height: 1000px;
    right: -20%;
    background-color: darkgrey;
    margin-top: -705px;
}
#sidebar li{
    list-style-type: none;
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid grey;
}

li{
    color: black;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

 .s-btn{
    position: absolute;
    right: 100%;
    top: 250px;
    cursor: pointer;
    
}

.s-btn span{
    display: block;
    background-color: blue;
    width: 30px;
    height: 70px;
    margin: 3px;
    writing-mode:vertical-lr;
    text-align: center;
    color: aliceblue;
}

    
#sidebar.active{
    right: 0;
}

.videos-img{
    margin-top: 20px;
}


.small-img{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

/*
.play-btn{
    width: 50px;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    margin-bottom: 30%;
    cursor: pointer;  
    
}
*/


.videos-img img{
    margin-right: -25px;
    
}

.play-btn{
    width: 17%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    margin-bottom: 30%;
    cursor: pointer;  
}

.video-player{
    position: absolute;
    width: 50%;
    height: 50%;
    text-align: center;
    margin-top: 15%;
    display: none;
    background-color: white;
    margin-left: 20%;
    border: 1px solid black;
}   

.close-btn{
    position: absolute;
    right: 10px;
    top: 5px;
}
.close-btn:hover{
    background-color: darkgrey;
    border-radius: 20px;
    opacity: 0.8;
}

/*
.lg-play-btn{
    position: absolute;
    width: 10%;
    height: 20%;
    
}
*/

#myVideo{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    
}


/*.small-img{
    background-color: white;
    width: 300px;
    height: 200px;
    
}  */